(
    id: "dry_upland_outpost_terrain_artkit",
    pieces: [
        (
            piece: (
                id: "grass_floor_large_01",
                kind: GrassFloorLarge,
                material: Some(Grass),
                width_px: 224,
                height_px: 160,
                anchor_px: (0, 0),
                footprint_cells: (3, 2),
                repeat_mode: Tile,
                orientation: Any,
                z_bias: 0,
                opacity: 1.0,
                occlusion: r#None,
                tags: [
                    "floor",
                    "grass",
                    "irregular",
                ],
            ),
            file: "pieces/grass_floor_large_01.png",
        ),
        (
            piece: (
                id: "grass_floor_edge_01",
                kind: GrassFloorEdge,
                material: Some(Grass),
                width_px: 224,
                height_px: 36,
                anchor_px: (0, 0),
                footprint_cells: (1, 1),
                repeat_mode: StretchMiddle,
                orientation: FourWay,
                z_bias: 2,
                opacity: 1.0,
                occlusion: r#None,
                tags: [
                    "edge",
                    "grass",
                ],
            ),
            file: "pieces/grass_floor_edge_01.png",
        ),
        (
            piece: (
                id: "dirt_road_large_01",
                kind: DirtRoadLarge,
                material: Some(Dirt),
                width_px: 224,
                height_px: 128,
                anchor_px: (0, 0),
                footprint_cells: (3, 2),
                repeat_mode: Tile,
                orientation: Any,
                z_bias: 0,
                opacity: 1.0,
                occlusion: r#None,
                tags: [
                    "floor",
                    "road",
                    "worn",
                ],
            ),
            file: "pieces/dirt_road_large_01.png",
        ),
        (
            piece: (
                id: "dirt_road_edge_01",
                kind: DirtRoadEdge,
                material: Some(Dirt),
                width_px: 224,
                height_px: 34,
                anchor_px: (0, 0),
                footprint_cells: (1, 1),
                repeat_mode: StretchMiddle,
                orientation: FourWay,
                z_bias: 3,
                opacity: 1.0,
                occlusion: r#None,
                tags: [
                    "edge",
                    "road",
                ],
            ),
            file: "pieces/dirt_road_edge_01.png",
        ),
        (
            piece: (
                id: "mud_floor_01",
                kind: MudFloor,
                material: Some(Mud),
                width_px: 192,
                height_px: 112,
                anchor_px: (0, 0),
                footprint_cells: (3, 2),
                repeat_mode: Tile,
                orientation: Any,
                z_bias: 0,
                opacity: 1.0,
                occlusion: r#None,
                tags: [
                    "floor",
                    "mud",
                    "wet",
                ],
            ),
            file: "pieces/mud_floor_01.png",
        ),
        (
            piece: (
                id: "stone_floor_01",
                kind: StoneFloor,
                material: Some(Rock),
                width_px: 192,
                height_px: 112,
                anchor_px: (0, 0),
                footprint_cells: (3, 2),
                repeat_mode: Tile,
                orientation: Any,
                z_bias: 0,
                opacity: 1.0,
                occlusion: r#None,
                tags: [
                    "floor",
                    "stone",
                ],
            ),
            file: "pieces/stone_floor_01.png",
        ),
        (
            piece: (
                id: "stone_wall_front_01",
                kind: StoneWallFront,
                material: Some(Rock),
                width_px: 224,
                height_px: 64,
                anchor_px: (0, 0),
                footprint_cells: (1, 1),
                repeat_mode: StretchMiddle,
                orientation: SouthOnly,
                z_bias: 18,
                opacity: 1.0,
                occlusion: Solid,
                tags: [
                    "face",
                    "stone",
                    "front",
                ],
            ),
            file: "pieces/stone_wall_front_01.png",
        ),
        (
            piece: (
                id: "trench_floor_01",
                kind: TrenchFloor,
                material: Some(TrenchFloor),
                width_px: 224,
                height_px: 80,
                anchor_px: (0, 0),
                footprint_cells: (3, 1),
                repeat_mode: StretchMiddle,
                orientation: SouthOnly,
                z_bias: -6,
                opacity: 1.0,
                occlusion: r#None,
                tags: [
                    "trench",
                    "floor",
                    "shadow",
                ],
            ),
            file: "pieces/trench_floor_01.png",
        ),
        (
            piece: (
                id: "trench_wall_front_01",
                kind: TrenchWallFront,
                material: Some(TrenchWall),
                width_px: 224,
                height_px: 56,
                anchor_px: (0, 0),
                footprint_cells: (1, 1),
                repeat_mode: StretchMiddle,
                orientation: SouthOnly,
                z_bias: 20,
                opacity: 1.0,
                occlusion: Cutaway,
                tags: [
                    "trench",
                    "wall",
                    "front",
                ],
            ),
            file: "pieces/trench_wall_front_01.png",
        ),
        (
            piece: (
                id: "trench_lip_01",
                kind: TrenchLip,
                material: Some(TrenchWall),
                width_px: 224,
                height_px: 22,
                anchor_px: (0, 0),
                footprint_cells: (1, 1),
                repeat_mode: StretchMiddle,
                orientation: FourWay,
                z_bias: 24,
                opacity: 1.0,
                occlusion: r#None,
                tags: [
                    "trench",
                    "lip",
                ],
            ),
            file: "pieces/trench_lip_01.png",
        ),
        (
            piece: (
                id: "berm_top_01",
                kind: BermTop,
                material: Some(BermTop),
                width_px: 224,
                height_px: 72,
                anchor_px: (0, 0),
                footprint_cells: (3, 1),
                repeat_mode: StretchMiddle,
                orientation: SouthOnly,
                z_bias: 10,
                opacity: 1.0,
                occlusion: r#None,
                tags: [
                    "berm",
                    "top",
                ],
            ),
            file: "pieces/berm_top_01.png",
        ),
        (
            piece: (
                id: "berm_face_front_01",
                kind: BermFaceFront,
                material: Some(BermFace),
                width_px: 224,
                height_px: 58,
                anchor_px: (0, 0),
                footprint_cells: (1, 1),
                repeat_mode: StretchMiddle,
                orientation: SouthOnly,
                z_bias: 22,
                opacity: 1.0,
                occlusion: Soft,
                tags: [
                    "berm",
                    "face",
                    "front",
                ],
            ),
            file: "pieces/berm_face_front_01.png",
        ),
        (
            piece: (
                id: "soft_shadow_01",
                kind: SoftShadow,
                material: None,
                width_px: 224,
                height_px: 64,
                anchor_px: (0, 0),
                footprint_cells: (1, 1),
                repeat_mode: Stretch,
                orientation: Any,
                z_bias: 0,
                opacity: 0.75,
                occlusion: r#None,
                tags: [
                    "shadow",
                ],
            ),
            file: "pieces/soft_shadow_01.png",
        ),
        (
            piece: (
                id: "corner_cap_01",
                kind: CornerCap,
                material: Some(Dirt),
                width_px: 64,
                height_px: 64,
                anchor_px: (0, 0),
                footprint_cells: (1, 1),
                repeat_mode: Stamp,
                orientation: FourWay,
                z_bias: 26,
                opacity: 1.0,
                occlusion: Soft,
                tags: [
                    "corner",
                    "cap",
                ],
            ),
            file: "pieces/corner_cap_01.png",
        ),
        (
            piece: (
                id: "prop_debris_01",
                kind: PropDebris,
                material: Some(Dirt),
                width_px: 96,
                height_px: 80,
                anchor_px: (0, 0),
                footprint_cells: (1, 1),
                repeat_mode: Stamp,
                orientation: Any,
                z_bias: 32,
                opacity: 1.0,
                occlusion: r#None,
                tags: [
                    "prop",
                    "debris",
                    "tufts",
                ],
            ),
            file: "pieces/prop_debris_01.png",
        ),
    ],
)